.App {
  text-align: center;
}

body {
  background-color: #151515;
  color: #ddd;
  font-weight: 400;
  font-family: 'Barlow', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: .05rem;
}

a {
  text-decoration: none;
  color: #999;
  transition: color 100ms;
} :hover {
  color: #ddd;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: .08rem;
}

p {
  margin: 0;
}

.navbar {
  margin: 1rem 0 1rem 0;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 2px solid rgba(170,170,170,0.25);
  border-bottom: 2px solid rgba(170,170,170,0.25);
  padding: 1rem 0 1rem 0;
  font-size: 1.15rem;
  letter-spacing: 0.08rem;
}

.loading-animation {
  animation: pulseOpacity 1.5s ease-out;
  animation-iteration-count: infinite;
  text-transform: uppercase;
}

.loading-animation p {
  margin-top: .5rem;
} 

@keyframes pulseOpacity {
  0% {opacity: 0.99;}
  50% {opacity: 0.66;}
  100% {opacity: 0.99;}
}

